# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# In newer versions of this board shipped in late 2021 the STM32F429
# is used, if this is the case compile for this with a "32KiB bootloader"
# You will need to check the chip on your board to identify which you have.
#
# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.

[include fluidd.cfg]

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 220
position_min: 0
position_max: 220
homing_speed: 40
homing_positive_dir: true
full_steps_per_rotation:400

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 0.7
#interpolate: True
#stealthchop_threshold: 250

[stepper_y]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: 0
position_min: 0
position_max: 220
homing_speed: 40
homing_positive_dir: false

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 0.7
#interpolate: True
#stealthchop_threshold: 250

[stepper_z]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
endstop_pin: probe:z_virtual_endstop
position_max: 200
full_steps_per_rotation:400
position_min: -3.0

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.700
#interpolate: True
#stealthchop_threshold: 250

[extruder]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 22.7866
gear_ratio:50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: PT1000
sensor_pin: PA2
### Pressure advance ###
pressure_advance = 0.0619
#max_extrude_only_distance:100
#control: watermark
min_temp: 0
max_temp: 250
control = pid
pid_kp = 20.691
pid_ki = 1.112
pid_kd = 96.213
#min_extrude_temp=0

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.300
#interpolate: True

#[extruder1]
#step_pin: PD11
#dir_pin: PD10
#enable_pin: !PD13
#heater_pin: PB4
#sensor_pin: PA3
#...

[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
#control: watermark
min_temp: 0
max_temp: 130
control = pid
pid_kp = 51.937
pid_ki = 1.353
pid_kd = 498.593

[fan]
pin: PB5

[heater_fan fan1]
pin: PB6
heater: extruder

#[heater_fan fan2]
#pin: PB5

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs


[output_pin motor_power]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_3D002F000E47393437363439-if00

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 2000
max_accel_to_decel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[probe]
pin: PE4
x_offset: 0.0
y_offset: 25.0
z_offset = 1.125
speed: 5.0

[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_min: 10, 30
mesh_max: 210, 210
probe_count: 3, 3

[safe_z_home]
home_xy_position:110,95
z_hop: 10

[screws_tilt_adjust]
screw1: 25, 10
screw1_name: front left screw
screw2: 195,10
screw2_name: fron right screw
screw3: 25,180
screw3_name: rear left screw
screw4: 195,180
screw4_name: rear right screw
horizontal_move_z: 10.
speed: 100.
screw_thread: CCW-M4

[neopixel sb_leds]
pin: PE6
chain_count: 3
color_order: GRBW
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
initial_WHITE: 0.5

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_5
rst_pin: EXP1_4
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.056250, -0.006250, 0.056250
#*# 	  -0.050000, -0.006250, 0.012500
#*# 	  0.012500, -0.031250, -0.068750
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 3
#*# max_y = 210.0
#*# mesh_x_pps = 2
#*# max_x = 210.0
